policy_module(CloudComputingChain, 1.100.1)

########################################
#
# Declarations
#

type CloudComputingChain_t;
type CloudComputingChain_exec_t;
init_daemon_domain(CloudComputingChain_t, CloudComputingChain_exec_t)

permissive CloudComputingChain_t;

type CloudComputingChain_initrc_exec_t;
init_script_file(CloudComputingChain_initrc_exec_t)

type CloudComputingChain_conf_t;
files_type(CloudComputingChain_conf_t)

type CloudComputingChain_var_lib_t;
files_type(CloudComputingChain_var_lib_t)

type CloudComputingChain_var_run_t;
files_type(CloudComputingChain_var_run_t)

type CloudComputingChain_port_t;
corenet_port(CloudComputingChain_port_t)

########################################
#
# CloudComputingChain local policy
#
allow CloudComputingChain_t self:process { fork };

allow CloudComputingChain_t self:fifo_file rw_fifo_file_perms;
allow CloudComputingChain_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(CloudComputingChain_t, CloudComputingChain_conf_t, CloudComputingChain_conf_t)
manage_files_pattern(CloudComputingChain_t, CloudComputingChain_conf_t, CloudComputingChain_conf_t)

manage_dirs_pattern(CloudComputingChain_t, CloudComputingChain_var_lib_t, CloudComputingChain_var_lib_t)
manage_files_pattern(CloudComputingChain_t, CloudComputingChain_var_lib_t, CloudComputingChain_var_lib_t)
files_var_lib_filetrans(CloudComputingChain_t, CloudComputingChain_var_lib_t, { dir file })

manage_dirs_pattern(CloudComputingChain_t, CloudComputingChain_var_run_t, CloudComputingChain_var_run_t)
manage_files_pattern(CloudComputingChain_t, CloudComputingChain_var_run_t, CloudComputingChain_var_run_t)

sysnet_dns_name_resolve(CloudComputingChain_t)
corenet_all_recvfrom_unlabeled(CloudComputingChain_t)

allow CloudComputingChain_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(CloudComputingChain_t)
corenet_tcp_sendrecv_generic_node(CloudComputingChain_t)
corenet_tcp_sendrecv_all_ports(CloudComputingChain_t)
corenet_tcp_bind_generic_node(CloudComputingChain_t)

gen_require(`
    type CloudComputingChain_port_t;
')
allow CloudComputingChain_t CloudComputingChain_port_t:tcp_socket name_bind;

gen_require(`
    type CloudComputingChain_port_t;
')
allow CloudComputingChain_t CloudComputingChain_port_t:tcp_socket name_connect;

domain_use_interactive_fds(CloudComputingChain_t)

files_read_etc_files(CloudComputingChain_t)

miscfiles_read_localization(CloudComputingChain_t)

sysnet_dns_name_resolve(CloudComputingChain_t)

allow CloudComputingChain_t CloudComputingChain_exec_t:file execute_no_trans;
allow CloudComputingChain_t self:process setsched;
corecmd_exec_ls(CloudComputingChain_t)
corenet_tcp_connect_http_port(CloudComputingChain_t)
dev_read_urand(CloudComputingChain_t)
fs_getattr_xattr_fs(CloudComputingChain_t)
kernel_read_system_state(CloudComputingChain_t)
